<head></head>
<body>
	<script>
		var getJSON = function(url, callback) {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', url, true);
		xhr.responseType = 'json';
		xhr.onload = function() {
		  var status = xhr.status;
		  if (status === 200) {
			callback(null, xhr.response);
		  } else {
			callback(status, xhr.response);
		  }
		};
		xhr.send();
	};
	
		getJSON('http://ip-api.com/json/?fields=isp',
		function(err, data) {
		  console.log(data.isp);
		  if(data.isp.toLowerCase().indexOf("hong kong broad")>=0 || data.isp.toLowerCase().indexOf("hk")>=0){
			alert("VPN is not turned on, please turn on VPN!!!");
		  }else{
			window.location.href="https://lihkg.com";			
		  }
		});
	</script>
</body>